<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mybatis/mapper/AdminsMapper.xml"/>
        <mapper resource="mybatis/mapper/CommentsMapper.xml"/>
        <mapper resource="mybatis/mapper/GoodsMapper.xml"/>
        <mapper resource="mybatis/mapper/MerchantsMapper.xml"/>
        <mapper resource="mybatis/mapper/OrdersMapper.xml"/>
        <mapper resource="mybatis/mapper/UsersMapper.xml"/>
    </mappers>
</configuration>